fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
pydantic
pydantic-settings
python-multipart
aiofiles
python-jose[cryptography]
passlib[bcrypt]
email-validator
psycopg2-binary==2.9.12
openpyxl==3.1.5
et-xmlfile==2.0.0
jinja2==3.1.6
MarkupSafe==3.0.3
